<!DOCTYPE html>
<html>
<head>
    <title>Kartoffel</title>
    <style type="text/css">
    body {
        font-family: sans-serif;
    }

    table#data_table {
        border: 2px solid gray;
        border-collapse: collapse;
    }
    table#data_table th, td {
        padding: 0.5em;
        border: 1px solid gray;
    }
    table#data_table tr:nth-child(odd) {
        background-color: #FFF;
    }
    table#data_table tr:nth-child(even) {
        background-color: #EEE;
    }
    tr.table_header, td.quantity {
        font-weight: bold;
    }
    td.value {
        text-align: decimal;
    }
    </style>
</head>
<body>
<table id="data_table">
    <tr id="table_header">
        <th></th>
        <th>Aktuell</th>
        <th>Minimum</th>
        <th>Maximum</th>
    </tr>   

    {% for alias, unit, values in rows %}
        <tr>
            <td class="quantity">{{ alias }}</td>
            {% for value in values %}
            <td class="value">{{ value }} {{ unit }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h4>Letzte Messung: {{ timestamp }}</h4>

</body>
</html>